.card {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--white);
  border: 1px solid #e5e7eb;
  border-radius: 999px;
  padding: 4px 8px 4px 4px;
  cursor: default;
}

.error {
  background-color: #fee2e2;
  color: #991b1b;
}

.waiting {
  background: linear-gradient(0, var(--white) 0%, var(--gray-300) 100%);
  background-size: 200%;
  animation: loading 2s ease-in-out infinite;
}

@keyframes loading {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
