.card {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--white);
  border: 1px solid #e5e7eb;
  border-radius: 999px;
  padding: 4px 8px 4px 4px;
  cursor: default;
}

.error {
  background-color: #fee2e2;
  color: #991b1b;
}

.waiting {
  background-color: var(--gray-200);
}
