.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0 12px;
  min-height: 44px;
  gap: 8px;

  & button {
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;
    padding: 2px 4px;
  }
}

.group {
  display: flex;
  flex-shrink: 0;
}

.controlButton {
  cursor: pointer;
  appearance: none;
  border: none;
  background-color: transparent;
  color: var(--gray-600);
  cursor: pointer;
  opacity: 0.5;
  min-height: 28px;
  border-radius: 0;

  & p {
    position: relative;
  }
}

.controlButton:disabled {
  cursor: default;
}

.active {
  opacity: 1;
  font-weight: 600;
}

.active::after {
  content: "";
  width: 80%;
  height: 100%;
  border-bottom: 1px solid var(--black);
  position: absolute;
  top: -1px;
}

.up {
  & svg {
    transform: rotate(-90deg);
  }
}

.down {
  & svg {
    transform: rotate(90deg);
  }
}
