.list {
  list-style-type: none;
  margin: 0 0 16px;
  min-height: 40px;
  background-color: var(--white);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.desc {
  margin: 0 0 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  color: var(--gray-600);
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.item {
  width: 100%;
  padding: 12px;
  background-color: var(--white);
  border-radius: var(--border-radius);
  font-size: 16px;
  word-break: keep-all;
}

.updateActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.credit {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 4px;
  flex-wrap: wrap;

  & a {
    color: var(--gray-600);
    text-decoration: underline;
  }
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.read {
  opacity: 0.5;
}

.listReverse {
  flex-direction: column-reverse;
}

.loadMoreButton {
  width: 100%;
  border-radius: unset;
  background-color: var(--white);
  color: var(--black);
  border-top: 1px solid var(--gray-100);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
