:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #1d1d1f;
  background-color: #f5f5f7;

  --border-radius: 12px;

  --black: #1d1d1f;
  --gray-900: #3d3d3d;
  --gray-600: #666666;
  --gray-300: #898989;
  --gray-200: #ccc;
  --gray-100: #e8e8ed;
  --gray-50: #f5f5f7;
  --white: #fff;

  --cubic: cubic-bezier(0.4, 0, 0.6, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  color: var(--black);
  background-color: var(--gray-50);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--black);
  background-color: var(--white);
  transition: border-color 0.25s;
}

a {
  color: #0a5db5;
  /* color: var(--gray-600); */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  opacity: 0.85;
}

button {
  cursor: pointer;
}

input,
button {
  outline: none;
}

svg {
  width: 20px;
  height: 20px;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--gray-50);
    background-color: var(--black);
  }

  input,
  button {
    color: var(--black);
    background-color: var(--black);
  }
}
