.button {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  padding: 8px;
  cursor: pointer;
  border-radius: 999px;
  border: none;
}

.button:disabled {
  opacity: 0.3;
  cursor: default;
}
