.tooltip {
  position: relative;
  height: fit-content;
  width: fit-content;

  & .message {
    position: absolute;
    background-color: #1d1d1fa0;
    color: var(--white);
    width: fit-content;
    border-radius: 999px;
    padding: 4px 8px;
    transform: translateY(92%);
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s var(--cubic);
  }
}

.tooltip:hover .message {
  opacity: 1;
  transform: translateY(100%);
}
